[mysqld]
disable-log-bin

# Remove a opção ONLY_FULL_GROUP_BY do sql_mode
# https://www.sitepoint.com/quick-tip-how-to-permanently-change-sql-mode-in-mysql/
sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
# opção ONLY_FULL_GROUP_BY removida das opções padrão
# SELECT @@sql_mode; 
